*{
    padding: 0 auto;
    margin: 0;
}
body{
    margin: 50px auto;
    width: 800px;
    line-height: 150%;
    background-image: url("./images/copybara.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
mark{
    background-color: rgb(248, 221, 185);
    border-radius: 10px;
}
h1,h4,th,td,li,p{
    font-family: "Hi Melody", sans-serif;
  font-weight: 400;
  font-style: normal;
}
li,p{
    font-size: 14pt;
}
div{
    padding-bottom: 20px;
}
h1{
    padding: 20px;
    font-weight: 700;
    font-size: 24pt;
    background-color: brown;
    color: white;
    text-shadow: 0px 0px 10px lightyellow;
    border-radius: 5px;
    margin-bottom: 20px;
    text-emphasis: sesame rgb(255, 221, 111);
    
}
h4{
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 14pt;
    color: rgb(255, 136, 0);
}
.first-p1 h4{
    padding-top: 20px;
}
.first{
    padding-bottom: 5px;
}
.sec figure{
    float: right;
    width: 600px;
}
.pic1{
    float: left;
    border-radius: 20px;
}
.sec-p1{
    float: left;
    padding-left: 20px;
    padding-right: 100px;
}
.sec-p3{
    padding-left: 20px;
}

table{
    width: 800px;
    border: rgb(230, 207, 172) none;
}
table th, b{
    font-weight: 500;
    color: brown;
    background-color: rgb(255, 244, 226);
}
table td{
    padding-left: 10px;
    background-color: white;
}
.last{
    padding-top: 20px;
}
.last-p1{
    border-bottom: 1px solid rgb(230, 207, 172);
    padding-bottom: 40px;
}
.last-p2{
    padding-top: 10px;
    color: brown;
}
.last-p2 > p{
    padding-top: 10px;
}

button:hover{
    float: right;
    background-color: burlywood;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
}
button{
    float: right;
    background-color: brown;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
}